version: '3.8'

services:
  guacd:
    image: guacamole/guacd:latest
    container_name: guacd
    restart: unless-stopped
    # ports:
    #   - "4822:4822"
    networks:
      - guacamole-network

  guacamole:
    image: guacamole/guacamole:latest
    container_name: guacamole
    restart: unless-stopped
    environment:
      - GUACAMOLE_HOME=/opt/guacamole
    ports:
      - "8889:8080"
    depends_on:
      - guacd
    volumes:
      - ./extensions:/opt/guacamole/extensions
      - ./lib:/opt/guacamole/lib
      - ./etc/guacamole.properties:/opt/guacamole/guacamole.properties:ro
    networks:
      - guacamole-network
networks:
  guacamole-network:
    driver: bridge

volumes:
  postgres_data: