version: '3.8'

services:
  guacd:
    image: guacamole/guacd:latest
    container_name: guacd
    restart: unless-stopped
    network_mode: "host"

  guacamole:
    image: guacamole/guacamole:latest
    container_name: guacamole
    restart: unless-stopped
    environment:
      - GUACAMOLE_HOME=/opt/guacamole
      - GUACAMOLE_PORT=8080  # 改为内部端口
      - GUACAMOLE_ENCRYPTION_KEY=xssssxsssssssxsssssssxssssssssxs
    depends_on:
      - guacd
    volumes:
      - ./extensions:/opt/guacamole/extensions
      - ./lib:/opt/guacamole/lib
      - ./etc/guacamole.properties:/opt/guacamole/guacamole.properties:ro

  desktop:
    image: dorowu/ubuntu-desktop-lxde-vnc
    container_name: vnc-desktop
    ports:
      - "6080:80"      # Web VNC 客户端
      - "5900:5900"    # VNC 端口
      - "3389:3389"    # RDP 端口
    environment:
      - VNC_PASSWORD=password123
      - RESOLUTION=1920x1080
    volumes:
      - ./data:/root
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: unless-stopped

    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - guacamole