services:
  guacd:
    image: guacamole/guacd:latest
    container_name: guacd
    restart: unless-stopped
    network_mode: "host"  # 使用宿主机网络

  guacamole:
    image: guacamole/guacamole:latest
    container_name: guacamole
    restart: unless-stopped
    network_mode: "host"  # guacamole 也使用宿主机网络
    environment:
      - GUACAMOLE_ENCRYPTION_KEY=xssssxsssssssxsssssssxssssssssxs
      - GUACAMOLE_HOME=/opt/guacamole
    depends_on:
      - guacd
    volumes:
      - ./extensions:/opt/guacamole/extensions
      - ./lib:/opt/guacamole/lib
      - ./etc/guacamole.properties:/opt/guacamole/guacamole.properties:ro

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - guacamole